body {
	margin: 0;
	padding: 0 auto;
	font: normal 100%/1.5 Muli,sans-serif;
	background-color: #f7ec42;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

.img-flex {
	display: block;
	width: 100%;
}

section {
	padding: 5rem 0;
}

header {
	background-color: rgba(247,236,66,0.8);
	position: fixed;
	z-index: 100;
	width: 100%;
}

.nav-logo {
	float: left;
	height: 50px;
	padding: 5px;
	width: 80px;
	visibility: hidden;
}

.logo-wrapper {
	margin: 0;
	padding: 0;
	font-size: 1em;
}


@media only screen and (min-width: 35em) {

	.nav-logo {
		margin: 0;
		width: 80px;
		visibility: visible;
	}
}

.nav-btn,
.nav-btn:link,
.nav-btn:hover,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	top: 10px;	
	right: 5%;
	position: absolute;
	
	background: transparent url('../images/nav-icon.svg') no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
}


.nav-btn:focus,
.nav-btn:active {
	background: transparent url('') no-repeat center center;
}

.nav > ul {
	margin: 0;
	padding: 0.8em 0;
	text-align: center;
	list-style-type: none;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display: block;
	padding: 0.5rem;
	text-align:center;
	text-decoration: none;
	color: #000;

		-webkit-box-shadow: inset 0px 0px 0px 0px #fff;
		-moz-box-shadow: inset 0px 0px 0px 0px #fff;
		-ms-box-shadow: inset 0px 0px 0px 0px #fff;
		-o-box-shadow: inset 0px 0px 0px 0px #fff;
		box-shadow: inset 0px 0px 0px 0px #fff;
	/* border-width || border-style || border-color */
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	-webkit-box-shadow: inset 0px 0px 0px 3px #fff;
	-moz-box-shadow: inset 0px 0px 0px 3px #fff;
	-ms-box-shadow: inset 0px 0px 0px 3px #fff;
	-o-box-shadow: inset 0px 0px 0px 3px #fff;
	box-shadow: inset 0px 0px 0px 3px #fff;
	
	color: #fff;
}

/*--- for the scroll down 
	.nav a, 
	.nav a:link,
	.nav a:visited{
		display: block;
		padding: 0.5rem;
		text-align:center;
		color: #fff;
		text-decoration: none;
		color: #000;

		-webkit-box-shadow: inset 0px 0px 0px 0px #fff;
		-moz-box-shadow: inset 0px 0px 0px 0px #fff;
		-ms-box-shadow: inset 0px 0px 0px 0px #fff;
		-o-box-shadow: inset 0px 0px 0px 0px #fff;
		box-shadow: inset 0px 0px 0px 0px #fff;

	}

	.nav a:hover,
	.nav a:focus,
	.nav a:active{
		-webkit-box-shadow: inset 0px 0px 0px 3px #fff;
		-moz-box-shadow: inset 0px 0px 0px 3px #fff;
		-ms-box-shadow: inset 0px 0px 0px 3px #fff;
		-o-box-shadow: inset 0px 0px 0px 3px #fff;
		box-shadow: inset 0px 0px 0px 3px #fff;
		
		color: #fff;
	}
}
 ----*/

	/* Toggle Nav*/

.nav-top{
	display: none;
}


.nav-top[data-state="expanded"]{
	display: block;
}
	
@media only screen and (min-width: 35em){
	.nav{
		overflow: auto;
	}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}
	
	.nav-top{
		display: block;
	}	
}

@media only screen and (min-width: 35em){
	.nav{
		text-align: center;
		float: right;
		position:inherit;

	}
	
	.nav li{
		float: left;
		width: 33.33%;
		display: inline-block;
		float: none;
		width:auto;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		border-top: 0;
	}
	
	.nav-top{
		float: right;
		margin-right: 5%;
	}
	
	h1{
		width: auto;
		margin-left: 5%;
	}
	
	header{
		overflow: auto;
	}
	
	header img {
	width:40px;
	height:40px;
	margin-left: 5%;
	float: left;
	}
}

.bio h2{
	border-bottom: 2px solid #f7ec42;
	padding-top: 3rem;
	color: #f7ec42;
}

.bio {
	background-color: #fff;
	height: 100%;
	padding: 0;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.bio img {
	max-width: 20rem;
}

@media only screen and (min-width: 55em){
	.about{
		width:50rem;
		margin: 0 auto;
	}
}
/*---- expand ----*/

.expanded {
	text-align: center;
	max-height: 0;
	-moz-transition: max-height 0.3s ease-out;
	-webkit-transition: max-height 0.3s ease-out;
	-o-transition: max-height 0.3s ease-out;
	transition: max-height 0.3s ease-out;
	overflow: hidden;
	color:#FFF;
}

.expanded[data-state="expanded"] {
	max-height: 200em;
	padding: 3rem;
}

.expand {
	width: 130px;
}

.list li{
	margin: 1em 0;
	line-height: 1.3;
}

.list dt{
	font-weight: bold;
	text-decoration: underline;
	color:#7BE5F4;
}

.masthead {
	background-color: #F0F;
	height: 4.5rem;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.blurb {
	background-color: rgba(255,255,255,.96);
	padding: 2.5rem 1rem;
	width:20rem;
	margin: auto auto;
}

.blurb h3 {
	font-size: 1.1250rem;
	line-height: 1.3333;
}

.blurb p {
	font-size: 0.8889rem;
	line-height: 1.6875;
}

@media only screen and (min-width: 55em){
	.blurb {
		width:25rem;
	}
}

.logo {
	width: 300px;
}

@media only screen and (min-width: 35em) {
	.logo {
		visibility: hidden;
	}
}

.intro-section {
	background: transparent url('../images/cover-3.jpg') no-repeat center center;
	background-size: cover;
	padding: 15rem 0;
}


.dipper {
	opacity: 0;
	width: 240px;
}

.one-section {
		background: transparent url('../images/covers/sc.jpg') no-repeat center;
		background-size: cover;
}

.two-section {
		background: transparent url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.three-section {
		background: transparent url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.four-section {
		background: url('../images/covers/lgw-2.jpg') no-repeat center;
		background-size: cover;
}

.five-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.six-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.seven-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.media-section {
	background: transparent url('../images/bottom-2.jpg') no-repeat center bottom;
	background-size: cover;
	bottom: 0;
}

@media only screen and (min-width: 40em) {
	.media-section {
		padding: 8rem;
	}
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.media {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.media > li {
	display: inline-block;
	margin: auto 2rem;
}

.media li a,
.media li a:link,
.media li:visited {
	display: inline;
	float: left;
	height: 40px;
	width: 50px;
	margin-right: .5rem;
	text-align: center;
	padding-top: .8125rem;
	
	color: #f7ec42;
	
	-webkit-box-shadow: inset 0px 0px 0px 4px #f7ec42;
	-moz-box-shadow: inset 0px 0px 0px 4px #f7ec42;
	-ms-box-shadow: inset 0px 0px 0px 4px #f7ec42;
	-o-box-shadow: inset 0px 0px 0px 4px #f7ec42;
	box-shadow: inset 0px 0px 0px 4px #f7ec42;
}

.media li a:hover,
.media li a:focus,
.media li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 30px #f7ec42;
	-moz-box-shadow: inset 0px 0px 0px 30px #f7ec42;
	-ms-box-shadow: inset 0px 0px 0px 30px #f7ec42;
	-o-box-shadow: inset 0px 0px 0px 30px #f7ec42;
	box-shadow: inset 0px 0px 0px 30px #f7ec42;
	
	color: #fff;
}

.data {
  margin: 2rem auto 4rem;
  overflow: hidden;
}

.data__item {
  margin: 0 auto;
}

@media only screen and (min-width: 55em){
	.data__item{
		border-right: 1px solid #fff;
		float: left;
		width: 33%;
	}
	
	.data__item:last-child {
  		border-right: 0px;
	}
}

.data__title {
  margin: 0;
  color: #FFF;
  font-size: 0.7901rem;
  line-height: 1.8984;
  text-transform: uppercase;
}

.data__info {
  margin: 0;
}

.expanded {
	background-color: #FFF;
	color: #000;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.expanded p {
	margin: 1rem auto;
	max-width: 25rem;
}


.unit-left {
	float: left;
}

.unit-right {
	float: right;
}


.embed {
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	position: relative;
	width: 100%;
}

.embed--1by1 {
	/* Square */
	padding-top: 100%;
}

.embed--4by3 {
	/* Traditional TV/computer screens */
	padding-top: 75%;
}

.embed--iso216 {
	/* A-standard paper sizes */
	padding-top: 70.92%;
}

.embed--3by2 {
	/* Classic 35 mm film */
	padding-top: 66.6%;
}

.embed--golden {
	/* The Golden Ratio */
	padding-top: 61.8%;
}

.embed--16by9 {
	/* HD TV */
	padding-top: 56.25%;
}

.embed--185by100 {
	/* Common widescreen cinema */
	padding-top: 54.05%;
}

.embed--24by10 {
	/* Widescreen cinema: 2.4:1 */;
	padding-top: 41.667%;
}

.embed--3by1 {
	/* Panorama photos */
	padding-top: 33.33333%;
}

.embed--4by1 {
	/* Polyvision */
	padding-top: 25%;
}

.embed__item {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}














