body {
	margin: 0;
	padding: 0 auto;
	font: normal 100%/1.5 Muli,sans-serif;
	background-color: #f7ec42;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}

.img-flex {
	display: block;
	width: 100%;
}

section {
	padding: 5rem 0;
}

.masthead {
	background-color: #F0F;
	height: 4.5rem;
	position: fixed;
	width: 100%;
	z-index: 100; /* Puts this emlement on top of the rest */
}

.blurb {
	background-color: rgba(255,255,255,.8);
	padding: 5rem 2rem;
	width:20rem;
	margin: auto auto;
}

@media only screen and (min-width: 55em){
	.blurb {
		width:25rem;
	}
}

.logo {
	width: 300px;
}

.intro-section {
	background: transparent url('../images/intro.jpg') no-repeat right bottom;
	background-size: cover;
	padding: 12rem 0;
}

.dipper {
	opacity: 0;
	width: 240px;
}

.one-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.two-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.three-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.four-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.five-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.six-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.seven-section {
		background: url('http://placehold.it/350x150') no-repeat center;
		background-size: cover;
}

.media-section {
	background: transparent url('../images/intro.jpg') no-repeat center top;
	background-size: cover;
	padding: 6rem 0;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.media {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

.media > li {
	display: inline-block;
	margin: auto 2rem;
}

.media li a,
.media li a:link,
.media li:visited {
	display: inline-block;
	float: left;
	height: 50px;
	width: 50px;
	margin-right: .5rem;
	text-align: center;
	padding-top: .8125rem;
	
	color: #fff;
	
	-webkit-box-shadow: inset 0px 0px 0px 0px #fff;
	-moz-box-shadow: inset 0px 0px 0px 4px #fff;
	-ms-box-shadow: inset 0px 0px 0px 4px #fff;
	-o-box-shadow: inset 0px 0px 0px 4px #fff;
	box-shadow: inset 0px 0px 0px 4px #fff;
}

.media li a:hover,
.media li a:focus,
.media li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 40px #fff;
	-moz-box-shadow: inset 0px 0px 0px 40px #fff;
	-ms-box-shadow: inset 0px 0px 0px 40px #fff;
	-o-box-shadow: inset 0px 0px 0px 40px #fff;
	box-shadow: inset 0px 0px 0px 40px #fff;
	
	color: #000;
}

.nav-btn li a,
.nav-btn li a:link,
.nav-btn li:visited {
	display: inline-block;
	float: left;
	height: 40px;
	width: 40px;
	margin-right:.5rem;
	padding-top: .8125rem;
	text-align: center;
	padding: .5rem;
	
	color:#000;

	
	
	-webkit-box-shadow: inset 0px 0px 0px 0px #FFF;
	-moz-box-shadow: inset 0px 0px 0px 0px #fff;
	-ms-box-shadow: inset 0px 0px 0px 0px #fff;
	-o-box-shadow: inset 0px 0px 0px 0px #fff;
	box-shadow: inset 0px 0px 0px 0px #fff;
}

.nav-btn li a:hover,
.nav-btn li a:focus,
.nav-btn li a:active{
	-webkit-box-shadow: inset 0px 0px 0px 4px #fff;
	-moz-box-shadow: inset 0px 0px 0px 4px #fff;
	-ms-box-shadow: inset 0px 0px 0px 4px #fff;
	-o-box-shadow: inset 0px 0px 0px 4px #fff;
	box-shadow: inset 0px 0px 0px 4px #fff;
	
	color: #fff;
}

.data {
  margin: 0 auto 1.5rem;
  overflow: hidden;
}

.data__item {
  margin: 0 auto;
}

@media only screen and (min-width: 55em){
	.data__item{
		border-right: 1px solid #fff;
		float: left;
		width: 33%;
	}
	
	.data__item:last-child {
  		border-right: 0px;
	}
}

.data__title {
  margin: 0;
  color: #FFF;
  font-size: 0.7901rem;
  line-height: 1.8984;
  text-transform: uppercase;
}

.data__info {
  margin: 0;
}

.expanded {
	background-color: #FFF;
	color: #000;
	padding: 3rem;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.expanded p {
	margin: 0 auto;
	max-width: 25rem;
}

.gallery-1{
	display: inline-block;
	float: left;
	margin: 1rem auto;
}

.gallery-2{
	display: inline-block;
	margin: 1rem auto;
	float: right;
}

.gallery-2 img {
	padding-bottom: 1rem;
}


















